//--------------------------------
@font-face {
  font-family: IBMPlexSans; /* Имя шрифта */
  src: url(../typography/IBMPlexSans-Bold.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: IBMPlexSans-light; /* Имя шрифта */
  src: url(../typography/IBMPlexSans-LightItalic.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: IBMPlexSans-regular; /* Имя шрифта */
  src: url(../typography/IBMPlexSans-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: IBMPlexSans-Medium; /* Имя шрифта */
  src: url(../typography/IBMPlexSans-Medium.ttf); /* Путь к файлу со шрифтом */
}